<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>찾기/바꾸기</title>
<script src="lib/jquery-3.2.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="lib/common.css" />
<script>
$(document).on("keydown", function(e) {
	if (e.keyCode == 27) {
		window.close();
	}
	if (e.ctrlKey) {
		if (e.keyCode != 65/*A*/
		 && e.keyCode != 67/*C*/
		 && e.keyCode != 86/*V*/
		 && e.keyCode != 88/*X*/) {
			e.preventDefault();
		}
	}
});

$(function () {
	var target; 
	var values = {};
	
	$(".button-find"       ).on("click", function() { runFind(); });
	$(".button-replace"    ).on("click", function() { runReplace(); });
	$(".button-replace-all").on("click", function() { runReplaceAll(); });

	function beforeFind() {
		if (opener.tabs.length == 0) {
			alert("열려있는 파일이 없습니다.");
			return false;
		}
		target = opener.tabs[opener.tab].input; 
		values.find      = $("[name=find]"   ).val();
		values.replace   = $("[name=replace]").val();
		values.withCase  = $("[name=case]").prop("checked");
		values.reverse   = $("[name=direction][value=-1]").prop("checked");
		values.text      = target.val();
		values.upperText = values.text.toUpperCase();
		values.upperFind = values.find.toUpperCase();
		return true;
	}
	function afterFind() {
		var tab = opener.tabs[opener.tab];
		tab.updateSync();
		tab.scrollToCursor();
		Finder.last.find    = values.find;
		Finder.last.replace = values.replace;
		Finder.last.withCase= values.withCase;
		Finder.last.reverse = values.reverse;
	};

	function doFind(selection) {
		if (!selection) selection = [target.prop("selectionStart"), target.prop("selectionEnd")];
		var index = -1;
		var text = values.text;
		var find = values.find;
		if (!values.withCase) {
			text = values.upperText;
			find = values.upperFind;
		}
		if (values.reverse) {
			index = text.lastIndexOf(find, selection[0] - 1);
		} else {
			index = text.indexOf(find, selection[1]);
		}
		if (index < 0) return null;
		return [index, index + find.length];
	}
	function doReplace(selection) {
		if (!selection) selection = [target.prop("selectionStart"), target.prop("selectionEnd")];
		var index = -1;
		var text = values.text;
		var find = values.find;
		if (!values.withCase) {
			text = values.upperText;
			find = values.upperFind;
		}
		if (values.text.substring(selection[0], selection[1]) == find) {
			values.text      = values.text     .substring(0, selection[0]) + values.replace + values.text     .substring(selection[1]);
			values.upperText = values.upperText.substring(0, selection[0]) + values.replace + values.upperText.substring(selection[1]);
			selection[1] = selection[0] + values.replace.length;
			return selection;
		}
		return null;
	}
	
	function runFind() {
		if (!beforeFind()) return;

		var selection = doFind();
		if (selection) {
			target[0].setSelectionRange(selection[0], selection[1]);
			afterFind();
		} else {
			alert("찾을 수 없습니다.");
		}
	}
	function runReplace() {
		if (!beforeFind()) return;
		
		// 선택돼 있었으면 바꾸기
		var selection = doReplace();
		if (selection) {
			target.val(values.text);
			target[0].setSelectionRange(selection[0], selection[1]);
			afterFind();
		}
		
		// 다음 거 찾기
		if (selection = doFind(selection)) {
			target[0].setSelectionRange(selection[0], selection[1]);
			afterFind();
			
		} else {
			alert("찾을 수 없습니다.");
		}
	}
	function runReplaceAll() {
		if (!beforeFind()) return;

		var count = 0;
		var last = null;
		
		// 바꾸기
		var selection = doReplace();
		if (selection) count++;
		// 다음 찾기
		selection = doFind(selection);
		
		// 바꾸기-찾기 반복
		while (selection) {
			count++;
			last = selection;
			selection = doFind(doReplace(selection));
		}
		
		if (count) {
			target.val(values.text);
			target[0].setSelectionRange(last[0], last[1]);
			afterFind();
			setTimeout(function() {
				alert(count + "개 바꿈");
			}, 1);
		} else {
			alert("찾을 수 없습니다.");
		}
	}
	
	$("textarea").on("keydown", function(e) {
		if (e.keyCode == 13) { // Enter
			if (!e.shiftKey && !e.altKey) {
				e.preventDefault();
				if (e.ctrlKey) {
					var cursor = [this.selectionStart, this.selectionEnd];
					this.value = this.value.substring(0, cursor[0]) + "\n" + this.value.substring(cursor[1]);
					cursor = cursor[0] + 1;
					this.setSelectionRange(cursor, cursor);
				} else {
					if (this.name == "find") {
						runFind();
					} else if (this.name == "replace") {
						runReplace();
					}
				}
			}
		}
	});
});
var Finder = opener.SmiEditor.Finder;
</script>
</head>
<body onload="opener.SmiEditor.Finder.onload();">
	<form class="modal-main">
		<label>
			<span style="
				display: block;
				position: absolute;
				top: 8px;
				left: 8px;
			">찾을 내용(<u>N</u>)</span>
			<textarea name="find" accesskey="N" spellcheck="false" placeholder="줄바꿈 = Ctrl+Enter" style="
				position: absolute;
				top: 8px;
				left: 80px;
				right: 116px;
				height: 60px;
				resize: none;
			"></textarea>
		</label>
		<button type="button" class="button-find" accesskey="F" style="
			position: absolute;
			top: 8px;
			right: 8px;
			width: 100px;
			height: 34px;
		">찾기(<u>F</u>)</button>
		<label>
			<span style="
				display: block;
				position: absolute;
				top: 76px;
				left: 8px;
			">바꿀 내용(<u>P</u>)</span>
			<textarea name="replace" accesskey="P" spellcheck="false" placeholder="줄바꿈 = Ctrl+Enter" style="
				position: absolute;
				top: 76px;
				left: 80px;
				right: 116px;
				height: 60px;
				resize: none;
			"></textarea>
		</label>
		<button type="button" class="button-replace" accesskey="R" style="
			position: absolute;
			top: 50px;
			right: 8px;
			width: 100px;
			height: 34px;
		">바꾸기(<u>R</u>)</button>
		<button type="button" class="button-replace-all" accesskey="A" style="
			position: absolute;
			top: 92px;
			right: 8px;
			width: 100px;
			height: 44px;
		">모두 바꾸기(<u>A</u>)</button>
		<label style="
			position: absolute;
			display: block;
			top: 156px;
			left: 20px;
		">
			<input type="checkbox" name="case" accesskey="C" />
			<span>대소문자 구분(<u>C</u>)</span>
		</label>
		<fieldset style="
			position: absolute;
			top: 140px;
			right: 116px;
			padding: 0 6px;
		">
			<legend>방향</legend>
			<label>
				<input type="radio" name="direction" value="-1" accesskey="U" />
				<span>위로(<u>U</u>)</span>
			</label>
			<label>
				<input type="radio" name="direction" value="1" accesskey="D" checked />
				<span>아래로(<u>D</u>)</span>
			</label>
		</fieldset>
	</form>
</body>
</html>